body {
	display: flex;
	min-height: 100vh;
}

form {
	position: fixed;
	top: 0;
	left: 0;
	width: 20vw;
	padding: 1rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form label {
	display: flex;
	flex-direction: column;
}

form input,
form button {
	padding: 0.5rem;
	margin: 0.5rem 0;
	border: 1px solid black;
	width: 20vw;
	background: none;
}

ul {
	position: absolute;
	top: 0;
	padding: 1rem 2rem;
	margin: 1rem;
	left: 20vw;
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 200px;
	height: 200px;
	padding: 0.5rem;
	margin: 1rem;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul li * {
	margin: 0;
}
